<div class="container h-100">
<div class="row h-100">
<div class="nonDevoured float-left col-3 text-center">
  {{#each burgers}}
    {{#unless devoured}}
    <form method="post" action="/update/{{id}}">
      <span class="badge badge-secondary rounded-circle d-flex align-items-center m-auto justify-content-center" style="width: 1.5rem; height: 1.5rem">{{id}}</span>
    <p name="burger_name" class="m-2">Eat a {{burger_name}}!</p>
    <button type="submit" class="btn btn-success mb-4">Devour it!</button>
    </form>
    {{/unless}}
  {{/each}}

</div>

<div class="jumbotron col-6 text-center p-0 m-0 h-100">
<h1 class="display-2 pt-5">EAT DA BURGER</h1>
<img src="./assets/img/burger.png" class="img-fluid" style="max-width: 70%">
  <p class="">What burger would you like to add to your plate?</p>
<form method="post" action="/">
  <input name="burger_name" type="text">
</form>
</div>

<div class="devoured float-right col-3 text-center">

  {{#each burgers}}
    {{#if devoured}}
    <p>Finished a {{burger_name}}</p>
    <h2><span class="btn btn-danger">Tasty!</span></h2>
    <hr>
    {{/if}}
  {{/each}}

</div>
</div>
</div>



