/* img {
    height: 16rem;
    width: auto;
} */

html,body {
    padding: 0;
    margin: 0;
}

html, body, .container, .row {
    height: 100%;
}

.jumbotron {
    min-height: 100%;
}

.btn.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover, .btn-danger:active {
    background-color: #dc3545 !important;
    cursor: default !important;
}

.devoured-burger > form > button:after {
    content: "\2715";
    /* padding: 3px 5px; */
    border-radius: 8px;
}

.devoured-burger > form > button {
    float: right;
    cursor: pointer;
}

.devoured-burger > form > button:hover {
    background-color: #e9ecef;
    /* border-radius: 8px; */
}

.devoured-burger >  form > button:active {
    background-color: #d1d3d4;
    /* border-radius: 8px; */
}